@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic&subset=latin,latin-ext);

body{
	height:100%;
	background-color: #01121e;
}

.tilePosRel{
	position:relative;
}

.image-container{
	width:100%;
	padding: 6px;
	height:500px;
	z-index: 100;
}

.fadeImg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.tileImg{
	float:left;
}

.tileMessage{
	position: absolute;
	left:20px;
	top:20px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
}

.tileTitle{
	font-size: 20pt;
}

.logoImg{
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 10;
}

.image-container.imgTall{
	height:646px;
}

.headerLink{
	color:white;
	font-family: 'Lato', sans-serif;
}

.gutterLeft{
	margin-left:15px;
}

.gutterRight{
	margin-right: 15px;
}

.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
	background-color: #222222;
	color:white;
}

.dropdown-menu > li > a{
	background-color: #222222;
	color:white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #d49f29;
}

span.headerLink:hover{
	color:#CE980F;
}

@media screen and (max-width:1920px){
	.image-container{
		height:440px;
	}
	.image-container.imgTall{
		height:880px;
	}
	.tileMessage{
		font-size:18pt;
	}
	.tileTitle{
		font-size: 24pt;
	}
}

@media screen and (max-width:1600px){
	.image-container{
		height:360px;
	}
	.image-container.imgTall{
		height:720px;
	}
	.tileMessage{
		font-size:14pt;
	}
	.tileTitle{
		font-size: 20pt;
	}
}

@media screen and (max-width:1241px){
	.image-container{
		height:300px;
	}
	.image-container.imgTall{
		height:600px;
	}
	.tileMessage{
		font-size:14pt;
	}
	.tileTitle{
		font-size: 20pt;
	}
}

@media screen and (max-width:991px){
	.image-container{
		height:260px;
	}
	.image-container.imgTall{
		height:520px;
	}
	.tileMessage{
		font-size:12pt;
	}
	.tileTitle{
		font-size: 18pt;
	}
}

@media screen and (max-width:801px){
	.image-container{
		height:220px;
	}
	.image-container.imgTall{
		height:440px;
	}
	.tileMessage{
		font-size:12pt;
	}
	.tileTitle{
		font-size: 18pt;
	}
}

@media screen and (max-width:701px){
	.image-container{
		height:200px;
	}
	.image-container.imgTall{
		height:400px;
	}
	.tileMessage{
		left:10px;
		top:10px;
		font-size:11pt;
	}
	.tileTitle{
		font-size: 17pt;
	}
}

@media screen and (max-width:601px){
	.image-container{
		height:170px;
	}
	.image-container.imgTall{
		height:340px;
	}
	.tileMessage{
		font-size:10pt;
	}
	.tileTitle{
		font-size: 16pt;
	}
}

@media screen and (max-width:480px){
	.image-container{
		height:140px;
		padding: 3px;
	}
	.image-container.imgTall{
		height:280px;
	}
	.tileMessage{
		left:5px;
		top:5px;
		font-size:10pt;
	}
	.tileTitle{
		font-size: 16pt;
	}
}

@media screen and (max-width:321px){
	.image-container{
		height:60px;
		padding: 3px;
	}
	.image-container.imgTall{
		height:180px;
	}
	.tileMessage{
		left:5px;
		top:5px;
		font-size:8pt;
	}
	.tileTitle{
		font-size: 10pt;
	}
}

header.headerBG{
	/*background: url('../images/headerBG.png');
	background-repeat: repeat-x;*/
	background-size: 5px, 10px;
	background-color: darkestGrey;
}

#headerSides{
	background: url('../images/headerSides.png');
	background-repeat: repeat-x;
	background-size: 100% 100%;
}

.row.rowBG{
	background-color:#01121e;
}

.headerText{
	text-align: center;
	font-size: 48pt;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color: white;
}

.headerText.headerSmall{
	font-size: 14pt;
	margin-right: 30;
	margin-left: 30;
}

.headerHeightAnimated{
	height:770px;
	display: table;
}

.headerCenter{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

@media screen and (max-width: 700px) {
    .headerText {
    	font-size:38pt;
    }

    .headerText.headerSmall {
    	font-size:12pt;
    }
}

@media screen and (max-width: 500px) {
    .headerText {
    	font-size:28pt;
    }

    .headerText.headerSmall {
    	font-size:9pt;
    }
}

@media screen and (max-width: 321px) {
    .headerText {
    	font-size:20pt;
    }
    .headerText.headerSmall {
    	font-size:7pt;
    }
}

.linkHeight{
	margin-top:6px;
}

.itemsHeight{
	margin-top:-4px;
}

@media screen and (max-width: 768px){
	.linkHeight{
		margin-top:0px;
	}
}

.invisible{
	visibility: hidden;
}

.printIcon{
	height:25px;
}

.printLinkHeight{
	margin-top:3px;
}

.line{
  height: 1px;
  margin: 2px 0;
  overflow: hidden;
  background-color: #080808;
}

.printFont{
	font-family: 'Lato', sans-serif;
	margin-left:15px;
	margin-right:15px;
}

@media print{
#noPrint * { visibility: hidden; display:none; }

.hidden { visibility: visible !important; display:inline-block !important; }
}

.boldFont{
	font-family: 'Lato-bold', sans-serif;
}
